{% extends 'base.html' %}

{% block title %}PriceScan{% endblock %}

{% block content %}
    <form method="post">
        <label for="number">Артикул товара</label>
        <input type="number" name="number"
            placeholder=""
            value="{{ request.form['number'] }}"></input>
        <button type="submit">Узнать цену</button>
    </form>
    {% if request.method == 'POST' %}
    <br>
    {{ result }}
    <h2>Результаты поиска</h2>
    <table>
        <tr>
            <td>
                <h3>{{ result['id'] }}</h3>
            </td>
        </tr>
        <tr>
            <td>
                <h3>{{ result['name'] }}</h3>
            </td>
        </tr>
        {% for item in result['shops'] %}
            <tr>
                <td>{{ item['name'] }}:</td>
                <td><strong>{{ item["price"] }}</strong> {{ item['Value'] }} рублей за штуку</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}