{% extends 'base.html' %}

{% block title %}PriceScan{% endblock %}

{% block content %}
    <form method="post">
        <label for="number">Артикул товара</label>
        <input type="number" name="number"
            placeholder=""
            value="{{ request.form['number'] }}"></input>
        <button type="submit">Узнать цену</button>
    </form>
    {% if request.method == 'POST' %}
    <br>
    
    <h2>Результаты поиска</h2>
    {{ result}}
    <table>
        {% for row in values %}
        
            <tr>
                <td>{{ row['1'] }}</td>
                
            </tr>
           
        {% endfor %}
        
    </table>
    {% endif %}
{% endblock %}